@media all and (max-width: 1200px) {
    .main-container {
        width: 100%;
        height: 100%;
    }

    .players-cn {
        height: 30%;
        min-height: 220px;
        width: 50%;
        top: 70px;
    }

    .player-1-cn {
        left: 0;
    }

    .player-2-cn {
        right: 0;
    }

    .dice {
        width: 100px;
        top: 30%;
    }

    .temporary-score-cn {
        position: absolute;
        height: 25%;
        width: 80%;
        bottom: 70px;
        left: 50%;
        transform: translateX(-50%);
        background-color: rgb(255, 253, 196);
        padding: 30px;
    }

.btn-roll {
   top:54%; 
}

    
}

@media all and (max-width: 560px) {
    .player-1-cn,
    .player-2-cn{
        padding: 0;
    }

    .winner {
        font-size: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        
    }
      .winner .names {
       width: 100%;
      
    }
    
    
    @keyframes winner {
    from {
        color: #000;   
    }
    
    to {
        color: red;
    }
}
    
}
